.todo h3 {
    display: flex;
    align-items: center;
    font-size: 12px;
    width: calc(100% - 40px);
    margin: 0 auto 8px;
}
.todo h3 img {
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 6px 0 0;
}
.todo ul {
    width: 100%;
    margin: 0 auto;
}
.todo ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ccc;
}
.todo ul li:last-child {
    border-bottom: 1px solid #ccc;
}
.todo ul li .text {
    width: 70%;
    padding: 0 0 0 20px;
}
.todo ul li .text .input {
    display: block;
    font-size: 16px;
    width: 100%;
    border: none;
    outline: none;
}
.todo ul li .btnSet {
    width: 96px;
}
.todo ul li .btnSet .btn {
    color: #fff;
    width: 48px;
    height: 48px;
    border: none;
}
.todo ul li .btnSet .edit {
    background: #989592;
}
.todo ul li .btnSet .done {
    background: #f4ac37;
}
.todo ul li .btnSet .delete {
    background: #dc6262;
}